/node_modules
/package-lock.json
/*.mp4
/.env
/logs
../.backups
../.vscode
/client/dist
/client/node_modules
/client/.env
/client/src/assets/bg.mp4
/client/src/.templates
/client/.eslintrc.cjs
/client/logs
/client/package-lock.json
/client/src/assets/.unused
/client/.gitignore