/* Dashboard.css */

body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.dash-container {
    position:fixed;
    display:flex;
    width:100%;
    height:vh;
    background-color: black;
    justify-content: center;
    align-items: center;  
}   

.dash-header {
    width:100%;
    height: 33%;
    top: 0;
   
}

.dash-container h1 {
    color: rgb(255, 255, 255);
     text-align: center;
}