/* Dashboard.css */

body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.dash-container {
    position:fixed;
    display:flex;
    width:100%;
    height:vh;
    background-color: black;
    justify-content: center;
    align-items: center;
    text-align: center;
}   

h1 {
    color: white;
}