/* Login.css */

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.3s;
}

.modal {
    background-color: rgba(0, 19, 27, 0.24);
    backdrop-filter: blur(5px);
    padding: 20px;
    border: 1px solid;
    border-color: rgb(0, 225, 255);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 96, 160, 0.829);
    animation: slideUp 0.5s ease-out;
    color: white;
    max-width: 33%;
}

.modal h2 {
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 3em;
    font-weight: 200;
    color: rgb(255, 255, 255);
}

/* Updated from textarea to input */
.modal input {
    font-family: Roboto, Helvetica, sans-serif;
    color: white;
    background: none;
    border: 1px solid;
    border-color: rgb(6, 221, 228);
    font-size: 1.5em;
    justify-content: center;
    text-align: left;
    margin: 5px;
    padding: 2px;
    width: 95%;
    /* Adjusted width for better layout */
}

.modal input:focus {
    background: white;
    color: black;
    border: none;
}

.btn-submit {
    color: rgb(0, 255, 255);
    background: none;
    border: 1px solid;
    border-radius: 4px;
    border-color: rgb(0, 247, 255);
    margin: 10px;
    margin-top: 5%;
    padding: 10px;
    font-size: 1.2em;
    font-family: Roboto, Helvetica, sans-serif;
    transition: color 0.3s ease, background 0.3s ease,
        text-shadow 0.3s ease;
}

.btn-submit:hover,
.btn-submit:focus {
    color: rgb(255, 255, 255);
    background-color: rgb(163, 0, 68);
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.829);
}

.login-socials {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    margin-top: 10px;
    left: 0;
    top: 0;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.google,
.fb {
    padding: 0px;
    margin: 0px;
    width: 30%;
    background: none;
    border: none;
    border-color: white;
}

.modal-footer {
    font-size: 0.9em;
    color: rgba(84, 255, 235, 0.781);
}

.modal-footer a {
    font-style: none;
    color: rgb(0, 162, 255);
    text-decoration: none;
    transition: color 0.3s ease;
}

.modal-footer a:hover,
.modal-footer a:focus {
    color: rgb(255, 0, 128);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        transform: translateY(100vh);
    }

    to {
        transform: translateY(0);
    }
}