/* PageMain.css (Landing Page) */

@import url('./fonts.css');

body {
  max-height: 100%;
  max-width: 100%;
}

.container {
  text-align: center;
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.bgVid {
  background: black;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -10;
  overflow: hidden;

}

.darker {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -9;
  overflow: hidden;
}


.header {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.hero {
  position: fixed;
  top: 25vh;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: auto;
  max-height: 20%;
}

.hero img {
  position: relative;
  display: flex;
  height: auto;
  margin: 0 auto;
  padding: 0;
  max-width: 60%;
  min-width: 60%;
  top: 0;
}

@media screen and (max-width: 700px) {
  .hero img {
    min-width: 75%;
    min-height: 200px;
  }
}